JIRA_ENDPOINT=""
JIRA_USERNAME=""
JIRA_PASSWORD=""

SALESFORCE_ENDPOINT=""
SALESFORCE_ACCESS_TOKEN=""
SALESFORCE_CLIENT_ID=""
SALESFORCE_CLIENT_SECRET=""
SALESFORCE_REFRESH_TOKEN=""
SALESFORCE_REFRESH_URL=""

SFDB_HOST=""
SFDB_PORT=
SFDB_NAME=""
SFDB_USERNAME=""
SFDB_PASSWORD=""
SFDB_POOL_SIZE=

DB_SYNC_SERVICE_URI=""
DB_SYNC_SERVICE_HTTP_PORT=

DATA_COLLECTOR_URI=""
DATA_COLLECTOR_HTTP_PORT=

[b7a.log]
level="ALL"